body {
    padding: 40px;
    margin: 0;
    background: #EFF0F5;
}
body,
* {
    font-family: 'Varela Round', 'Helvetica', Arial, sans-serif;
    font-size: 13px;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}
.block {
    border-top: 2px solid #92E9E3;
    border-radius: 2px;
    background: #FFFFFF;
}
.block-title {
    padding: 20px;
}
.block-title h1 {
    margin: 0;
    font-size: 24px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
.block-title button {
    float: right;
}

button {
    border: 2px solid #C4C3C8;
    background: rgba(0, 0, 0, 0);
    border-radius: 500px;
    line-height: 1em;
    padding: 5px 15px;
    margin-left: 5px;
    font-size: 12px;
    color: #86858c;
    cursor: pointer;
    position: relative;
}
button:hover {
    background-color: #C4C3C8;
    color: #FFFFFF;
}
button:focus {
    outline: none;
}
button:active {
    top: 1px;
}

button.up {
    border-color: #64BCD4;
    color: #64BCD4;
}
button.up:hover {
    background-color: #64BCD4;
    color: #FFFFFF;
}
button.down {
    border-color: #EA483D;
    color: #EA483D;
}
button.down:hover {
    background-color: #EA483D;
    color: #FFFFFF;
}
button.big {
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 15px 13px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    padding: 20px;
    border-top: 1px solid #F7F8FA;
    line-height: 1em;
    overflow: hidden;
}
ul li p {
    display: block;
    max-width: 50%;
    float: left;
    margin: 10px 0 0 0;
}
ul li .actions {
    float: right;
}

.block-input {
    margin-top: 20px;
}

input {
    border-radius: 2px;
    font-weight: 400;
    border: 0;
    line-height: 1em;
    padding: 13px 18px;
    font-size: 16px;
}
input:focus {
    outline: 0;
}
